<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>New Post</title>
  </head>
  <body style="background-color: #dae0e6; height: 50em">
    <%- include('./navbar') %>
    <main class="is-flex is-justify-content-center">
      <div
        style="width: 50em"
        class="
          p-4
          is-flex
          mt-5
          is-flex-direction-column is-justify-content-center
        "
      >
        <div class="mt-2 mb-3 p-3" style="border: 0.5px solid white">
          <h1 class="title is-4">Create Post</h1>
        </div>
        <div class="mb-2 p-2" style="background-color: white; width: 40%">
          <h2 class="subtitle is-5">/r/<%=subreddit %></h2>
        </div>

        <div class="p-3" style="background-color: white">
          <form action="/r/<%= subreddit %>/new" method="POST">
            <input
              type="text"
              name="title"
              class="input mb-2"
              placeholder="title"
            /><br />
            <textarea
              name="body"
              id=""
              class="textarea mb-4"
              cols="30"
              rows="5"
            ></textarea>

            <button class="button is-info is-outlined">Post</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
