<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <body>
    <%- include('./flash') %>

    <div
      class="is-flex is-flex-direction-column m-auto is-justify-content-center"
      style="width: 50%"
    >
      <form
        action="/register"
        class="py-2 px-4"
        style="border: 1px solid grey; margin-top: 4em"
        method="POST"
      >
        <h1 class="title is-2 mb-4" style="margin-top: 1em">Register</h1>
        <input
          type="email"
          class="input mb-4"
          name="email"
          placeholder="email"
          style="border: 0.2px solid grey"
          required
        />
        <input
          type="text"
          class="input mb-4"
          name="username"
          placeholder="username"
          style="border: 0.2px solid grey"
          required
        />
        <input
          type="password"
          class="input mb-4"
          name="password"
          placeholder="password"
          style="border: 0.2px solid grey"
          required
        />
        <input type="submit" class="button is-primary" value="Submit" />
      </form>
    </div>
  </body>
</html>
